{
    "aws_project_region": "ap-southeast-2",
    "aws_cognito_identity_pool_id": "REPLACE_WITH_YOUR_IDENTITY_POOL_ID",
    "aws_cognito_region": "ap-southeast-2",
    "aws_user_pools_id": "REPLACE_WITH_YOUR_USER_POOL_ID",
    "aws_user_pools_web_client_id": "REPLACE_WITH_YOUR_CLIENT_ID",
    "aws_cognito_username_attributes": ["EMAIL"],
    "aws_cognito_social_providers": [],
    "aws_cognito_signup_attributes": ["EMAIL", "NAME"],
    "aws_cognito_mfa_configuration": "OFF",
    "aws_cognito_mfa_types": [],
    "aws_cognito_password_protection_settings": {
        "passwordPolicyMinLength": 8,
        "passwordPolicyCharacters": ["REQUIRES_LOWERCASE", "REQUIRES_NUMBERS", "REQUIRES_UPPERCASE"]
    },
    "aws_cognito_verification_mechanisms": ["EMAIL"],
    "API": {
        "REST": {
            "GeocodingAPI": {
                "endpoint": "REPLACE_WITH_YOUR_API_GATEWAY_URL",
                "region": "ap-southeast-2"
            }
        }
    },
    "geo": {
        "amazon_location_service": {
            "region": "ap-southeast-2",
            "maps": {
                "items": {
                    "aws-geocoding-map": { "style": "VectorEsriStreets" }
                },
                "default": "aws-geocoding-map"
            }
        }
    }
}
